<table>
    <tr>
        @{
            int cntcommonarea = 0;
            List<WebApplicationProperty.ViewModel.CommonAreaPropertiesViewModel> assignedCommonAreas = ViewBag.CommonArea;

            foreach (var commonArea in assignedCommonAreas)
            {
                if (cntcommonarea++ % 2 == 0)
                {
                @:</tr><tr>
                }
                @:<td style="padding-right:10px">
                    <input type="checkbox"
                           name="selectedCommonArea"
                           value="@commonArea.CommonAreaId"
                           @(Html.Raw(commonArea.Assigned ? "checked=\"checked\"" : "")) />
                    @commonArea.Name
                @:</td>
            }
        @:</tr>
        }
    </table>