<table>
    <tr>
        @{
            int cnt = 0;
            List<WebApplicationProperty.ViewModel.FacilitiesPropertiesViewModel> assignedFacilities = ViewBag.Facilities;

            foreach (var facilities in assignedFacilities)
            {
                if (cnt++ % 2 == 0)
                {
                @:</tr><tr>
                }
                @:<td style="padding-right:10px">
                    <input type="checkbox"
                           name="selectedFacilities"
                           value="@facilities.FacilitiesId"
                           @(Html.Raw(facilities.Assigned ? "checked=\"checked\"" : "")) />
                    @facilities.Name
                @:</td>
            }
        @:</tr>
        }
    </table> 