<table>
    <tr>
        @{
            int cntfixtures = 0;
            List<WebApplicationProperty.ViewModel.FixturesPropertiesViewModel> assignedFixtures = ViewBag.Fixtures;

            foreach (var fixtures in assignedFixtures)
            {
                if (cntfixtures++ % 2 == 0)
                {
                @:</tr><tr>
                }
                @:<td style="padding-right:10px">
                    <input type="checkbox"
                           name="selectedFixtures"
                           value="@fixtures.FixturesId"
                           @(Html.Raw(fixtures.Assigned ? "checked=\"checked\"" : "")) />
                    @fixtures.Name
                @:</td>
            }
        @:</tr>
        }
    </table>