<table>
    <tr>
        @{
            int cntinterior = 0;
            List<WebApplicationProperty.ViewModel.InteriorPropertiesViewModel> assignedInterior = ViewBag.Interiors;

            foreach (var interiors in assignedInterior)
            {
                if (cntinterior++ % 2 == 0)
                {
                @:</tr><tr>
                }
                @:<td style="padding-right:10px">
                    <input type="checkbox"
                           name="selectedInteriors"
                           value="@interiors.InteriorId"
                           @(Html.Raw(interiors.Assigned ? "checked=\"checked\"" : "")) />
                    @interiors.Name
                @:</td>
            }
        @:</tr>
        }
    </table>