<table>
    <tr>
        @{
            int cntothers = 0;
            List<WebApplicationProperty.ViewModel.OtherPropertiesViewModel> assignedOthers = ViewBag.Other;

            foreach (var other in assignedOthers)
            {
                if (cntothers++ % 2 == 0)
                {
                @:</tr><tr>
                }
                @:<td style="padding-right:10px">
                    <input type="checkbox"
                           name="selectedOther"
                           value="@other.OtherId"
                           @(Html.Raw(other.Assigned ? "checked=\"checked\"" : "")) />
                    @other.Name
                @:</td>
            }
        @:</tr>
        }
    </table>