<table>
    <tr>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Basics" asp-action="Index">Basic</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Facilities" asp-action="Index">Facilities</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Interiors" asp-action="Index">Interior</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Fixtures" asp-action="Index">Fixtures</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="CommonAreas" asp-action="Index">Common area</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Extras" asp-action="Index">Extra</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Other" asp-action="Index">Other</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Stations" asp-action="Index">Station</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Project</a></td>
        <td><a class="nav-link text-dark" asp-area="" asp-controller="Images" asp-action="Index">Images</a></td>
    </tr>
</table>
