@model WebApplicationProperty.Models.Property

@{
    ViewData["Title"] = "Create Properties";
    var commonImprovements = (List<Improvement>)ViewData["Improvements"];
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="container">
    <form asp-action="Create">

        <div class="row">
            <div class="col-sm-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TypePropertyId" class="control-label">Property types</label>
                    <select asp-for="TypePropertyId" class="form-control" asp-items="ViewBag.TypePropertyId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label">Project</label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StationId" class="control-label">BTS/MRT station</label>
                    <select asp-for="StationId" class="form-control" asp-items="ViewBag.StationId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ContractTypeId" class="control-label">Contract types</label>
                    <select asp-for="ContractTypeId" class="form-control" asp-items="ViewBag.ContractTypeId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price sale (THB)</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price_rent" class="control-label">Price rent (THB)</label>
                    <input asp-for="Price_rent" class="form-control" />
                    <span asp-validation-for="Price_rent" class="text-danger"></span>
                </div>THB
                <div class="form-group">
                    <label asp-for="Price_sqm" class="control-label">Price/sqm (THB / sqm)</label>
                    <input asp-for="Price_sqm" class="form-control" />
                    <span asp-validation-for="Price_sqm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Living_area" class="control-label">Living area (sqm)</label>
                    <input asp-for="Living_area" class="form-control" />   
                    <span asp-validation-for="Living_area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Land_area" class="control-label">Land Area (sqm)</label>
                    <input asp-for="Land_area" class="form-control" />  
                    <span asp-validation-for="Land_area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bathrooms" class="control-label"></label>
                    <input asp-for="Bathrooms" class="form-control" />
                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bedrooms" class="control-label"></label>
                    <input asp-for="Bedrooms" class="form-control" />
                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Parking" class="control-label"></label>
                    <input asp-for="Parking" class="form-control" />
                    <span asp-validation-for="Parking" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="accordion" id="accordionExample">
                    @foreach (var impType in commonImprovements?.GroupBy(x => x.Type).ToDictionary(x => x.Key, x => x.ToList()) ?? new Dictionary<ImprovementType, List<Improvement>>())
                    {
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-@impType.Key" aria-controls="collapse-@impType.Key">
                                        @impType.Key.ToString()
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div id="collapse-@impType.Key" class="collapse" aria-labelledby="heading-@impType.Key" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var improvment in impType.Value)
                                {
                                    <input type="checkbox" name="selectedBasic" value="@improvment.Id" />
                                    <span>@improvment.Name</span>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-12">
                <hr />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
