@model WebApplicationProperty.Models.Property
<link rel="stylesheet" type="text/css" href="~/simditor/simditor.css" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript" src="~/simditor/jquery.min.js"></script>
    <script type="text/javascript" src="~/simditor/module.js"></script>
    <script type="text/javascript" src="~/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="~/simditor/uploader.js"></script>
    <script type="text/javascript" src="~/simditor/simditor.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD7nYxVPynhALgxmvBMe5iggBIL7RUvASk&callback=initialize&libraries=places&v=weekly">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            Simditor.locale = 'en-US';
            var editor = new Simditor({
                textarea: $('#editor')
                //optional options
            });
        });
        var map;
        var marker;
        var myLatlng = new google.maps.LatLng(13.7563309, 100.5017651);
        var geocoder = new google.maps.Geocoder();
        var infowindow = new google.maps.InfoWindow();
        function initialize() {
            var mapOptions = {
                zoom: 12,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("webkulMap"), mapOptions);
            marker = new google.maps.Marker({
                map: map,
                position: myLatlng,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function () {
                geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            console.log(results[0]);
                            var address_components = results[0].address_components;
                            var components = {};
                            jQuery.each(address_components, function (k, v1) { jQuery.each(v1.types, function (k2, v2) { components[v2] = v1.long_name }); });
                            var street_number;
                            var route;
                            var sub_district;
                            var district;
                            var postal_code;
                            var province;
                            var country;



                            if (components.street_number) {
                                street_number = components.street_number;// street number
                            }

                            if (components.route) {
                                route = components.route;// street
                            }
                            if (components.sublocality_level_2) {
                                sub_district = components.sublocality_level_2; //sub district
                            }
                            if (components.sublocality_level_1) {
                                district = components.sublocality_level_1; // district
                            }
                            if (components.postal_code) {
                                postal_code = components.postal_code;
                            }

                            if (components.administrative_area_level_1) {
                                province = components.administrative_area_level_1;// state, province
                            }
                            if (components.political) {
                                country = components.political;// country
                            }
                            $('#street_number').val(street_number);
                            $('#route').val(route);
                            $('#subdistrict').val(sub_district);
                            $('#province').val(province);
                            $('#district').val(district);
                            $('#input-country').val(country);
                            $('#input-postcode').val(postal_code);
                            $('#latitude').val(marker.getPosition().lat());
                            $('#longitude').val(marker.getPosition().lng());
                            infowindow.setContent(results[0].formatted_address);
                            infowindow.open(map, marker);
                        }
                    }
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        
    </script>
}

<h4>Create Properties</h4>
<hr />



<div class="container">
    <form asp-action="Create">

        <div class="row">
            <div class="col-sm-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="TypePropertyId" class="control-label">Property types</label>
                    <select asp-for="TypePropertyId" class="form-control" asp-items="ViewBag.TypePropertyId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label">Project</label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StationId" class="control-label">BTS/MRT station</label>
                    <select asp-for="StationId" class="form-control" asp-items="ViewBag.StationId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea id="editor" autofocus asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <div class="col-sm-2">

                <input type="checkbox" class="btn-check" id="btncheck1" asp-for="ForSale" />
                <label>For sale </label>
                <input type="checkbox" class="btn-check" id="btncheck2" asp-for="ForRent" />
                <label>For rent</label>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price for sale (THB)</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price_rent" class="control-label">Price rent (THB)</label>
                    <input asp-for="Price_rent" class="form-control" />
                    <span asp-validation-for="Price_rent" class="text-danger"></span>
                </div>THB
                <div class="form-group">
                    <label asp-for="Price_sqm" class="control-label">Price/sqm (THB / sqm)</label>
                    <input asp-for="Price_sqm" class="form-control" />
                    <span asp-validation-for="Price_sqm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Living_area" class="control-label">Living area (sqm)</label>
                    <input asp-for="Living_area" class="form-control" />
                    <span asp-validation-for="Living_area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Land_area" class="control-label">Land Area (sqm)</label>
                    <input asp-for="Land_area" class="form-control" />
                    <span asp-validation-for="Land_area" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bathrooms" class="control-label"></label>
                    <input asp-for="Bathrooms" class="form-control" />
                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bedrooms" class="control-label"></label>
                    <input asp-for="Bedrooms" class="form-control" />
                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Parking" class="control-label"></label>
                    <input asp-for="Parking" class="form-control" />
                    <span asp-validation-for="Parking" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="accordion" id="accordionExample">
                    @foreach (var impType in ((List<Improvement>)ViewData["Improvements"])?.GroupBy(x => x.Type).ToDictionary(x => x.Key, x => x.ToList()) ?? new Dictionary<ImprovementType, List<Improvement>>())
                    {
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-@impType.Key" aria-controls="collapse-@impType.Key">
                                        @impType.Key.ToString()
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <div id="collapse-@impType.Key" class="collapse" aria-labelledby="heading-@impType.Key" data-parent="#accordionExample">
                            <div class="card-body">
                                @foreach (var improvment in impType.Value)
                                {
                                    <input type="checkbox" name="selectedBasic" value="@improvment.Id" />
                                    <span>@improvment.Name | </span>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" name="street_number" value="" placeholder="Street number" id="street_number" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" type="text" class="form-control" name="route" value="" placeholder="Street" id="route" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SubDistrict" class="control-label">Sub District</label>
                    <input asp-for="SubDistrict" class="form-control" name="subdistrict" value="" placeholder="Sub district" id="subdistrict" />
                    <span asp-validation-for="SubDistrict" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="District" class="control-label">District</label>
                    <input asp-for="District" class="form-control" name="district" value="" placeholder="District" id="district" />
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label">ZipCode</label>
                    <input asp-for="ZipCode" class="form-control" name="postcode" value="" placeholder="Post Code" id="input-postcode" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Province" class="control-label">Province</label>
                    <input asp-for="Province" class="form-control" name="province" value="" placeholder="Province " id="province" />
                    <span asp-validation-for="Province" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label">Country</label>
                    <input asp-for="Country" class="form-control" name="country" value="" placeholder="Country" id="input-country" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label">Latitude</label>
                    <input asp-for="Latitude" class="form-control" name="latitude" value="" placeholder="Latitude" id="latitude" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input asp-for="Longitude" class="form-control" name="longitude" value="" placeholder="Longitude" id="longitude" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div id="webkulMap" style="height: 300px; width:600px;"></div>
            </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
            </div>
    </form>
</div>
